@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  margin-bottom: -30px;
} */

img {
  width: 95%;
  filter: opacity(60%);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

h2 {
  text-shadow: rgb(211, 210, 204) 1px 0 20px;
  color: rgb(156, 252, 197);
  text-align: center;
  margin: 50px 0 0;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.header-herous {
  font-family: "Poppins", sans-serif;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  min-height: 180px;
}
.counter {
  display: block;
}
.wrapper-list {
  font-family: "Poppins", sans-serif;
  min-height: calc(100vh - 180px);
  padding: 50px 100px 20px;
  margin: 0 auto -30px;
  background: rgb(84, 232, 157);
  background: linear-gradient(
    180deg,
    rgba(12, 12, 12) 5%,
    rgb(12, 37, 27) 20%,
    rgb(33, 39, 37) 80%,
    rgb(10, 10, 10) 100%
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-card {
  width: 130px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  color: rgba(255, 255, 255, 0.527);
  font-weight: 400;
  font-size: small;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}
.hero-card:hover {
  box-shadow: 0 0 10px 4px rgba(72, 136, 98, 0.747);
}
.hero-card:active {
  box-shadow: 0 0 15px 4px rgba(72, 136, 98, 0.747);
}
.hero-card:hover > img {
  width: 145%;
  filter: opacity(100%);
}
.hero-card > span {
  position: absolute;
  bottom: 5px;
  text-shadow: rgb(5, 4, 0) 5px 0 50px;
}
.checked-card {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 4px rgba(156, 252, 198, 0.747);
}

.checked-card > img {
  filter: none;
  width: 130%;
}
.checked-card:hover {
  box-shadow: 0 0 10px 8px rgba(72, 136, 98, 0.747);
}
.warning {
  margin: 0;
  padding: 0;
  visibility: hidden;
  font-size: 30px;
  color: rgb(249, 250, 249);
  text-shadow: rgb(211, 210, 204) 1px 0 10px;
  text-align: center;
  animation-name: warning;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-iteration-count: infinite;
  z-index: 300;
}

@keyframes warning {
  0% {
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
