.big {
    height: 350px;
    width: 350px;
    background-color: chocolate;
    margin: 0 auto;
}

.medium {
    height: 250px;
    width: 250px;
    background-color: coral;
    margin: 0 auto;
}

.small {
    height: 150px;
    width: 150px;
    background-color: orange;
    margin: 0 auto;
}

div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    background-color: rgba(128, 128, 0, 0.267);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.342);
}

#root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
    width: 80%;
    margin: 30px auto;
}

h2 {
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-style: italic;
}