.wrapper-button {
  width: 800px;
  height: 800px;
  margin: 300px auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

img {
  width: 100%;
  position: relative;
}
.repeatBtn {
  position: absolute;
  top: 950px;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.589);
  box-shadow: 0 0 7px 1px white;
  transition: all 0.3s ease-in-out;
}

.repeatBtn:hover {
  background-color: aliceblue;
  box-shadow: 0 0 8px 2px rgb(148, 228, 241);
  border: whitesmoke;
}
